.counter{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Oswald;
}

.contador{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.contador h3{
    font-size: 50px;
}

.contador button{
    margin: 20px;
    background-color: aquamarine;
    border-radius: 30px;
    height: 50px;
    width: 50px;
}

.contador button:hover{
    background-color: cornflowerblue;
}