.inputs{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.input input{
    height: 20px;
    margin-left: 30px;
}

.rectangle{
    margin: 20px;
    border-color: black;
}